@{
    ViewBag.Title = "Home Page";
}
@* IMPORTANT : Always Reference the 2 StyleSheets Below *@
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--Google Map Js-->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUppA4_tlXLrFh-BpL1HSeYRcRAC9DIBg&callback=initMap&libraries=&v=weekly" defer></script>


<style>
    #target {
        width: 345px;
    }

    #map {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }
</style>
<script>
    $(document).ready(function () {
        $("#ambulancedataTable tr").click(function (e) {
            $("#ambulancedataTable tr").removeClass("highlight");
            $(this).addClass("highlight");
        });

        $("#medProviderdataTable tr").click(function (e) {
            $("#medProviderdataTable tr").removeClass("highlight");
            $(this).addClass("highlight");
        });
    });
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: new google.maps.LatLng(14.6187548, 120.993292),
            mapTypeId: 'roadmap'
        });

        // defines custom icons
        var icons = {
            ambulance: {
                icon: 'https://ismartrescue.azurewebsites.net/img/amb.png'
            }
        };

        function addMarker(feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type].icon,
                map: map
            });
        }
        // I wrote this - don't know if it works...
        function addInfoWindow(feature) {
            // this part is from https://developers.google.com/maps/documentation/javascript/infowindows
            var infowindow = new google.maps.InfoWindow({
                content: features.content
            });
        }
        // defines locations
        var features = [
            {
                position: new google.maps.LatLng(14.5349838, 120.9804938),
                type: 'ambulance',
                content: 'Info 1'
            },
            {
                position: new google.maps.LatLng(14.546748, 121.0523612),
                type: 'ambulance',
                content: 'Info 2'
            },
            {
                position: new google.maps.LatLng(14.5349838, 120.9804938),
                type: 'ambulance',
                content: 'Info 3'
            },
            {
                position: new google.maps.LatLng(14.6536606, 121.0315681),
                type: 'ambulance',
                content: 'Info 4'
            },
            {
                position: new google.maps.LatLng(14.6031235, 120.9824725),
                type: 'ambulance',
                content: 'Info 5'
            }
        ];



        // adds markers via the features table
        for (var i = 0, feature; feature = features[i]; i++) {
            addMarker(feature);
            addInfoWindow(feature);
        }

        // marker variable is only defined within the addMarker function
        /* marker.addListener('click', function() {
           infowindow.open(map, marker);
        });*/
    }
</script>
<!--Modal Scrollbar-->
<style>
    /* Important part */
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 485px;
        overflow-y: auto;
    }
</style>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal" style="background: red;">Raise Emergency <i class="fas fa-exclamation"></i></a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Available Ambulances</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Medical Facilities</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">12</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ambulance : Facility Ratio</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Ambulance Location</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="map" style="position:fixed"></div>
                </div>
            </div>
        </div>

        
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
        
            <div id="raiseEmergencySuccessMessage" class="alert alert-success alert-dismissible" style="display:none">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong><span id="raiseEmergencySuccessMessagep"></span>
            </div>
            <div id="DispatchAmbulanceSuccessMessage" class="alert alert-success alert-dismissible" style="display:none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong><span id="DispatchAmbulanceSuccessMessagep"></span>
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="float:left">RAISE AN EMERGENCY</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Emergency Code:</label>
                                    <select id="optEmergencyCode" name="emergencyCode" class="form-control multiselect">
                                        <option value="-">-</option>
                                        <option value="1001">1001 - Accident</option>
                                        <option value="1002">1002 - Extreme Pain in Lower Back</option>
                                        <option value="1003">1003 - Heart Attack</option>
                                        <option value="1004">1004 - Gun shot</option>
                                        <option value="1005">1005 - Poison Cases</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Location:<span style="font-size:12px;font-style:italic">(Geolocation is enabled)</span></label>
                                    <input type="text" class="form-control" id="location">
                                </div>

                                <div class="form-group">
                                    <p>Latitude:<span id="lat"></span></p>
                                    <p>Longtitude:<span id="lng"></span></p>
                                    <p>GoogleMapURL:<a href="" id="gmaplink" target="_blank"></a></p>
                                    <p>Formatted Address:<span id="address"></span></p>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success" style="background:green" onclick="searchAmbulance()">Search Ambulance</button>
                                </div>
                                <table id="ambulancedataTable" class="table table-striped table-active table-hover dataTable no-footer" role="grid" aria-describedby="dataTables-example_info" style="display:none">
                                    <thead>
                                        <tr role="row">
                                            <th>AmbulanceID</th>
                                            <th>AmbulanceCode</th>
                                            <th>Distance From Patient</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div id="hideForm1" style="display:none;">
                                    <div class="form-group">
                                        <button id="btnDispatchAmbulance" type="button" class="btn btn-success" style="background:green" onclick="dispatchAmbulance()">Dispatch Ambulance!</button>
                                    </div>
                                    <div id="hideForm2" style="display:none;">
                                        <div class="form-group">
                                            <label>Patient Name:</label>
                                            <input type="text" class="form-control" id="patientName">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone Number:</label>
                                            <input type="text" class="form-control" id="phoneNumber">
                                        </div>
                                        <div class="checkbox" onchange="showHealthCardTextbox()">
                                            <label>Patient Has HealthCard?</label>
                                            <input type="checkbox">
                                        </div>
                                        <div id="hideForm3" style="display:none;">
                                            <div class="form-group">
                                                <label>Health Card Information:</label>
                                                <select id="optHealthCard" name="healthCard" class="form-control multiselect">
                                                    <option value="-">-</option>
                                                    <option value="Ayala Healthcare Holding Inc">Ayala Healthcare Holding Inc</option>
                                                    <option value="Caritas Health Shield">Caritas Health Shield</option>
                                                    <option value="Medicard Philippines Incorporation">Medicard Philippines Incorporation</option>
                                                    <option value="Philcare Manila">Philcare Manila</option>
                                                    <option value="Maxicare Healthcare Corporation">Maxicare Healthcare Corporation</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Health Card Account Number:</label>
                                                <input type="text" class="form-control" id="healthCardAccountNumber">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success" style="background:green" onclick="searchMedicalProvider()">Search Medical Providers</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            @*<div class="col-xs-6">
                                <div class="form-group">
                                    <img src="~/img/anne.jpg" style=" width: 220px; height: 155px;" />
                                </div>
                            </div>*@
                        </div>


                        <table id="medProviderdataTable" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dataTables-example_info" style="display:none">
                            <thead>
                                <tr role="row">
                                    <th>MedicalProviderName</th>
                                    <th>Distance From Patient</th>
                                    <th>Location</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>



                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" style="background:red;float:right" onclick="raiseEmergency()">Raise Emergency!</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay Modal -->
    <div class="modal fade" id="modalOverlay" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <h1>Loading</h1>
            </div>
        </div>
    </div>
</div>
<!-- Overlay -->
<style>
    .btn-group > .btn:first-child {
        border-radius: 4px !important;
    }

    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(359deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>
<!-- Page Js -->

<script>
    function searchAmbulance() {
        var emergencyCode = document.getElementById('optEmergencyCode').value; if (emergencyCode == "-") { emergencyCode = "";}
        //var location = $('#location').val();
        var patientName = $('#patientName').val();
        var phoneNumber = $('#phoneNumber').val();
        var healthCardInformation = $('#healthCardInformation').val();
        var healthCardAccountNumber = $('#healthCardAccountNumber').val();

        //geolocation apis
        var latitude = document.getElementById('lat').innerText;
        var longtitude = document.getElementById('lng').innerText;
        var location = document.getElementById('address').innerText;

        $.ajax({
            url: '/Home/SearchAmbulance',
            data: {
                'emergencyCode': emergencyCode,
                'location': location,
                'patientName': patientName,
                'phoneNumber': phoneNumber,
                'latitude': latitude,
                'longtitude': longtitude
            },
            dataType: "json",
            type: "GET",
            success: function (result) {
                $('#ambulancedataTable tbody tr').remove();
                $('#ambulancedataTable').css({ display: "" });
                for (var i = 0; i < result.result.LatLangValues.length; i++) {
                    $("#ambulancedataTable tbody").append(
                        "<tr id='" + result.result.LatLangValues[i].AmbulanceId + "'><td style='display:none;'>" + result.result.LatLangValues[i].AmbulanceId + "</td><td>" + result.result.LatLangValues[i].AmbulanceCode + "</td>" +
                        "<td>" + result.result.LatLangValues[i].Miles + "</td>" +
                        "<td><input id='" + result.result.LatLangValues[i].AmbulanceId + "' type='button' class='btn btn-primary' value='Select Ambulance' onclick='selectAmbulance(this.id)'/> </td ></tr > ");
                }

                document.getElementById('hideForm1').style.display = "block";

                //$('#medProviderdataTable tbody tr').remove();
                //$('#medProviderdataTable').css({ display: "block" });
                //for (var i = 0; i < result.result.MedicalProviders.length; i++) {
                //    $("#medProviderdataTable tbody").append(
                //        "<tr id='" + result.result.MedicalProviders[i].TableRowId + "'><td>" + result.result.MedicalProviders[i].Name + "</td><td>" + result.result.MedicalProviders[i].AddressLine1 + "</td>" +
                //        "<td><input id='" + result.result.MedicalProviders[i].Name + "' type='button' class='btn btn-primary' value='Select Medical Provider' onclick='selectMedicalProvider(this.id)'/> </td></tr> ");
                //}
            },
            error: function (req, status, error) {
                console.log("Req: " + req);
                console.log("Status: " + status);
                console.log("Error: " + error);
                $('#modalOverlay').modal("hide");
            },
            complete: function () {
                setTimeout(function () {
                    $('#modalOverlay').modal("hide");
                }, 500);
            },
            beforeSend: function () {
                $('#modalOverlay').modal("show");
            },
        });
    }
    function dispatchAmbulance() {
        var emergencyCode = document.getElementById('optEmergencyCode').value; if (emergencyCode == "-") { emergencyCode = ""; }
        //var location = $('#location').val();
        var patientName = $('#patientName').val();
        var phoneNumber = $('#phoneNumber').val();
        var ambulanceId = sessionAmbulanceId;
        var healthCardInformation = $('#healthCardInformation').val();
        var healthCardAccountNumber = $('#healthCardAccountNumber').val();

        //geolocation apis
        var latitude = document.getElementById('lat').innerText;
        var longtitude = document.getElementById('lng').innerText;
        var location = document.getElementById('address').innerText;

        $.ajax({
            url: '/Home/DispatchAmbulance',
            data: {
                'emergencyCode': emergencyCode,
                'location': location,
                'patientName': patientName,
                'phoneNumber': phoneNumber,
                'latitude': latitude,
                'longtitude': longtitude,
                'ambulanceId': ambulanceId,
            },
            dataType: "json",
            type: "GET",
            success: function (result) {
                serviceRequestId = result.result[0];
                document.getElementById('btnDispatchAmbulance').style.background = 'red';
                document.getElementById('btnDispatchAmbulance').innerText = 'Ambulance Dispatched!'
                $("#btnDispatchAmbulance").attr("disabled", "");
                document.getElementById('hideForm2').style.display = "block";
                document.getElementById('DispatchAmbulanceSuccessMessage').style.display = "block";
                document.getElementById('DispatchAmbulanceSuccessMessagep').innerText = "\nAmbulance with ID of :\n" + ambulanceId + "\n has been dispatched to\n" + location;

                setTimeout(function () { $("#DispatchAmbulanceSuccessMessage").fadeOut(); }, 3000);


                //$('#dataTable tbody').remove();
                //$('#dataTable').css({ display: "block" });

                //for (var i = 0; i < result.result.length; i++) {
                //    $("#dataTable").append(
                //        "<tr><td>" + result.result[i].AmbulanceId + "</td><td>" + result.result[i].AmbulanceCode + "</td>" +
                //        "<td>" + result.result[i].DistanceValue + "</td>" +
                //        "<td><input type='button' class='btn btn-primary' value='Select Ambulance'/> </td ></tr > ");
                //}

            },
            error: function (req, status, error) {
                console.log("Req: " + req);
                console.log("Status: " + status);
                console.log("Error: " + error);
                $('#modalOverlay').modal("hide");
            },
            complete: function () {
                setTimeout(function () {
                    $('#modalOverlay').modal("hide");
                }, 500);
            },
            beforeSend: function () {
                $('#modalOverlay').modal("show");
            },
        });
    }
    function searchMedicalProvider() {
        var emergencyCode = document.getElementById('optEmergencyCode').value; if (emergencyCode == "-") { emergencyCode = ""; }
        //var location = $('#location').val();
        var patientName = $('#patientName').val();
        var phoneNumber = $('#phoneNumber').val();
        var healthCard = document.getElementById("optHealthCard").value; if (healthCard == "-") { healthCard = ""; }
        var healthCardNumber = document.getElementById("healthCardAccountNumber").value;

        //geolocation apis
        var latitude = document.getElementById('lat').innerText;
        var longtitude = document.getElementById('lng').innerText;
        var location = document.getElementById('address').innerText;

        $.ajax({
            url: '/Home/SearchMedicalProvider',
            data: {
                'emergencyCode': emergencyCode,
                'location': location,
                'patientName': patientName,
                'phoneNumber': phoneNumber,
                'latitude': latitude,
                'longtitude': longtitude,
                'healthCard': healthCard,
                'healthCardNumber': healthCardNumber
            },
            dataType: "json",
            type: "GET",
            success: function (result) {
                //$('#ambulancedataTable tbody tr').remove();
                //$('#ambulancedataTable').css({ display: "block" });
                //for (var i = 0; i < result.result.LatLangValues.length; i++) {
                //    $("#ambulancedataTable tbody").append(
                //        "<tr id='" + result.result.LatLangValues[i].AmbulanceId + "'><td>" + result.result.LatLangValues[i].AmbulanceId + "</td><td>" + result.result.LatLangValues[i].AmbulanceCode + "</td>" +
                //        "<td>" + result.result.LatLangValues[i].DistanceValue + "</td>" +
                //        "<td><input id='" + result.result.LatLangValues[i].AmbulanceId + "' type='button' class='btn btn-primary' value='Select Ambulance' onclick='selectAmbulance(this.id)'/> </td ></tr > ");
                //}

                $('#medProviderdataTable tbody tr').remove();
                $('#medProviderdataTable').css({ display: "" });
                for (var i = 0; i < result.result.LatLangValues.length; i++) {
                    var newName = result.result.LatLangValues[i].MedicalProviderName.replace(/-/g, ' ');
                    $("#medProviderdataTable tbody").append(
                        "<tr id='" + result.result.LatLangValues[i].MedicalProviderName + "'><td>" + newName + "</td><td>" + result.result.LatLangValues[i].Miles  + "</td>" + "<td>" + result.result.LatLangValues[i].MedicalProviderLocation+"</td>" +
                        "<td><input id='" + result.result.LatLangValues[i].MedicalProviderName + "' type='button' class='btn btn-primary' value='Select Medical Provider' onclick='selectMedicalProvider(this.id)'/> </td></tr> ");
                }
            },
            error: function (req, status, error) {
                console.log("Req: " + req);
                console.log("Status: " + status);
                console.log("Error: " + error);
                $('#modalOverlay').modal("hide");
            },
            complete: function () {
                setTimeout(function () {
                    $('#modalOverlay').modal("hide");
                }, 500);
            },
            beforeSend: function () {
                $('#modalOverlay').modal("show");
            },
        });
    }
    function raiseEmergency() {
        var srId = serviceRequestId;
        //var location = $('#location').val();
        var emergencyCode = document.getElementById('optEmergencyCode').value; if (emergencyCode == "-") { emergencyCode = ""; }
        var patientName = $('#patientName').val();
        var phoneNumber = $('#phoneNumber').val();
        var ambulanceId = sessionAmbulanceId;
        var patientName = $('#patientName').val();
        var phoneNumber = $('#phoneNumber').val();
        var medicalProviderName = sessionMedicalProvider.replace(/-/g, ' ');
        var healthCard = document.getElementById("optHealthCard").value; if (healthCard == "-") { healthCard = ""; }
        var healthCardAccountNumber = $('#healthCardAccountNumber').val();

        $.ajax({
            url: '/Home/RaiseEmergency',
            data: {
                'serviceRequestId': srId,
                'patientName': patientName,
                'phoneNumber': phoneNumber,
                'healthCard': healthCard,
                'healthCardAccountNumber': healthCardAccountNumber,
                'medicalProviderName': medicalProviderName,
                'emergencyCode': emergencyCode,
                'ambulanceId': ambulanceId
            },
            dataType: "json",
            type: "GET",
            success: function (result) {
                $('#dataTable tbody').remove();
                $('#dataTable').css({ display: "block" });
                for (var i = 0; i < result.result.length; i++) {
                    $("#dataTable").append(
                        "<tr><td>" + result.result[i].AmbulanceId + "</td><td>" + result.result[i].AmbulanceCode + "</td>" +
                        "<td>" + result.result[i].DistanceValue + "</td>" +
                        "<td><input type='button' class='btn btn-primary' value='Select Ambulance'/> </td ></tr > ");
                }
                document.getElementById('raiseEmergencySuccessMessage').style.display = "block";
                document.getElementById('raiseEmergencySuccessMessagep').innerText = "\nCreated a new Service Request with ID of : \n" + serviceRequestId;
                setTimeout(function () { $('#raiseEmergencySuccessMessage').fadeOut(); }, 3000);
            },
            error: function (req, status, error) {
                console.log("Req: " + req);
                console.log("Status: " + status);
                console.log("Error: " + error);
                $('#modalOverlay').modal("hide");
            },
            complete: function () {
                setTimeout(function () {
                    $('#modalOverlay').modal("hide");
                }, 500);
            },
            beforeSend: function () {
                $('#modalOverlay').modal("show");
            },
        });
    }
    function selectAmbulance(id) {
        var trLength = document.getElementById('ambulancedataTable').getElementsByTagName('tr').length;
        for (var i = 1; i < trLength; i++) {
            var bgcolor = document.getElementById('ambulancedataTable').getElementsByTagName('tr')[i].style.background;
            if (bgcolor == "lightgreen") {
                document.getElementById('ambulancedataTable').getElementsByTagName('tr')[i].style.background = "white";
            }
        }
        $('#' + id).css({ background: "lightgreen" });
        sessionAmbulanceId = id;
    }
    function selectMedicalProvider(id) {
        var trLength = document.getElementById('medProviderdataTable').getElementsByTagName('tr').length;
        for (var i = 1; i < trLength; i++) {
            var bgcolor = document.getElementById('medProviderdataTable').getElementsByTagName('tr')[i].style.background;
            if (bgcolor == "lightgreen") {
                document.getElementById('medProviderdataTable').getElementsByTagName('tr')[i].style.background = "white";
            }
        }
        $('#' + id).css({ background: "lightgreen" });
        sessionMedicalProvider = id;
    }
    function showHealthCardTextbox() {
        var isDisplayed = document.getElementById('hideForm3').style.display;
        if (isDisplayed == "block") {
            document.getElementById('hideForm3').style.display = "none";
            document.getElementById('healthCardInformation').value = "";
            document.getElementById('healthCardAccountNumber').value = "";
        }
        else {
            document.getElementById('hideForm3').style.display = "block";
        }
    }
    $('#location').on("input", function () {
        var loc = this.value;

        if (loc.length < 6) { return; }

        $.ajax({
            url: '/Home/GeoLocate',
            data: {
                'location': loc
            },
            dataType: "json",
            type: "GET",
            success: function (result) {
                if (result.result.candidates.length == 0) { return; }

                var formatted_address = result.result.candidates[0].formatted_address;
                var latitude = result.result.candidates[0].geometry.location.lat;
                var longtitude = result.result.candidates[0].geometry.location.lng;
                var anchorTag = "https://www.google.com/maps/place/" + latitude + "," + longtitude;
                //var anchorTag = result.result.candidates[0].photos[0].html_attributions[0].split('"')[1];


                document.getElementById('lat').innerText = latitude;
                document.getElementById('lng').innerText = longtitude;
                $("#gmaplink").attr("href", anchorTag); document.getElementById('gmaplink').innerHTML = anchorTag;
                document.getElementById('address').innerText = formatted_address;

            },
            error: function (req, status, error) {
                console.log("Req: " + req);
                console.log("Status: " + status);
                console.log("Error: " + error);
                $('#modalOverlay').modal("hide");
            },
            complete: function () {
                setTimeout(function () {
                    $('#modalOverlay').modal("hide");
                }, 500);
            },
            beforeSend: function () {
                $('#modalOverlay').modal("show");
            },
        });
    });
</script>

